body{
	color: var(--text-color);
	&.theme-dark{
		background: var(--bgcolor);
		.ant-select{
			color:var(--text-color);
		}
		.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
			background-color: var(--bgcolor-mask);
			border: 1px solid var(--bgcolor-mask);
		  }
		.ant-select-dropdown{
		  background-color: var(--bgcolor-mask);
		}
		.ant-select-item-option-active:not(.ant-select-item-option-disabled){
			background-color: var(--bgcolor-mask);
		}
		.ant-select-item{
			color:var(--text-color);
		}
		.ant-select-item-group{
			color:var(--text-grey);
		}
		.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
			background-color: var(--bgcolor-mask);
			color:var(--theme-color);
		}
	}
}

.mb{
	margin-bottom: 24px;
}

.tags-select_popover {
   .ant-popover-inner-content{
      padding:5px 0;
    }
  }

::-webkit-scrollbar-track {
	box-shadow: none;
	background-color: #f7f7f7;
}

::-webkit-scrollbar {
	height: 10px !important;
	width: 10px !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	border-style: dashed;
	background-color: rgba(157, 165, 183, 0.5);
	border-color: transparent;
	border-width: 2px;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(157, 165, 183, 0.7);
	box-shadow: none;
}


.select-menu {
    max-height: 200px;
    // width: 180px;
    overflow: hidden;
    overflow-y: auto;
	background: var(--bgcolor);
	box-shadow: 0 2px 8px var(--card-shadow-color);
    ul,
    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li {
      line-height: 32px;
      padding: 0 10px;
      position: relative;
      cursor: pointer;
      &:hover {
        background: var(--theme-color-light);
      }
      .tags-select_check {
        display: none;
        position: absolute;
        top: 0px;
        right: 10px;
        color: var(--theme-color);
      }
      &.active {
        background: var(--theme-color-light);
        .tags-select_check {
          display: block;
        }
      }
    }
  }