.layout-side{
    position: fixed;
    z-index: 150;
    top: 43px;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    margin: 0;
    background: var(--bgcolor-blur);
    box-shadow: 2px 0 4px var(--card-shadow-color);
    -webkit-backdrop-filter: saturate(200%) blur(20px);
    backdrop-filter: saturate(200%) blur(20px);
    font-size: 16px;
    &_header{
        padding:10px 10px 0;
    }
    // overflow-y: auto;
    &_menus{
        height: calc(100vh - 131px);
        overflow: auto;
        padding-bottom: 50px;
    }
    &:deep(.ant-tabs-bar).ant-tabs-bar{
        margin-bottom: 0;
        padding:0 10px;
    }
    &:deep(.ant-menu){
        color:var(--text-color)
    }
  

    &:deep(.ant-menu-sub.ant-menu-inline > .ant-menu-item), &:deep(.ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title){
        line-height: 32px;
        height: 32px;
        margin-top: 0;
        margin-bottom: 0;
    }
    &:deep(.ant-menu-submenu-active){
        color:var(--text-color)
    }

    &.mobile{
        top: 0px;
        left: -360px;
        width:350px;
        z-index: 300;
    }
    &.open{
        left: 0!important;
    }
    &_mask{
        
    }
}