.home-page{
    padding:16px;
    min-height: calc(100vh - 90px);
    background-color: var(--bgcolor-light);
    .readme{
        h1{
            margin-bottom: 5px;
        }
    }
    .tags-wraper{
        height: 162px;
        overflow: hidden;
        overflow-y: auto;
        .ant-tag{
            margin-bottom: 10px;
        }
    }
}
.number-block{
    padding-top:5px;
    &-item{
        background-color: var(--bgcolor);
        border-radius: 3px;
        padding:11px;
        margin-bottom: 16px;
        &:deep(.ant-card-meta-title){
            margin-bottom: 0px;
        }
        .color-green{
            background-color: var(--color-green);
        }
        .color-blue{
            background-color: var(--color-blue);
        }
        .color-orange{
            background-color: var(--color-orange);
        }
    }
}
.author-list{
    &>ul{
        padding-left: 0;
        &>li{
            list-style-type:none;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--color-line);
            h4{
                margin-bottom: 0;
            }
        }
    }
}

.method-list{
    height: 162px;
    &>ul{
        padding-left: 0;
        list-style-type:none;
        &>li{
            display: flex;
            padding:5px 10px;
            margin-bottom: 5px;
            border-radius: 3px;
            .name{
                flex:1;
                text-align: left;
            }
            &.method-color_GET {
                background-color:lighten(#87d068,30%);
            }
            &.method-color_POST {
                background-color:lighten(#2db7f5,30%);
            }
            &.method-color_PUT {
                background-color: lighten(#ff9800,40%);
            }
            &.method-color_DELETE {
                background-color: lighten(#ff4d4f,30%);
            }
        }
    }
}